Repository vivianjeng/my-test-library: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      skip: true
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --project tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      skip: true
      run: npx commitlint --edit

chore: add uniffi-bindgen-react-native dependency
  package.json
  yarn.lock
Due: none

feat: ios(circom)
  android/build.gradle
  cpp/generated/mopro_example_app.cpp
  cpp/generated/mopro_example_app.hpp
  cpp/my-test-library.cpp
  example/assets/keys/multiplier2_final.zkey
  example/assets/keys/noir_multiplier2.json
  example/assets/keys/plonk_fibonacci_pk.bin
  example/assets/keys/plonk_fibonacci_srs.bin
  example/assets/keys/plonk_fibonacci_vk.bin
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/src/App.tsx
  package.json
  src/NativeMyTestLibrary.ts
  src/generated/mopro_example_app-ffi.ts
  src/generated/mopro_example_app.ts
  src/index.tsx
  ubrn.config.yaml
  yarn.lock
Due: lint, types

fix: fix noir
  android/gradle.properties
  example/android/build.gradle
  example/src/App.tsx
  ubrn.config.yaml
Due: lint

fix: remove unused variables
  example/src/App.tsx
Due: lint

fix: fix UI
  example/src/App.tsx
Due: lint
